* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul, ol, li, menu {
    list-style: none;
}

input {
    appearance: none;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

.bottone {
    width: 220px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

/* HEADER */

.header {
    padding: 25px 12px;
}

header ul {
    display: flex;
    align-items: center;
}

header li {
    padding: 0 15px;
}

ul:last-child {
    margin-left: auto;
}

.bottone_header {
    margin-right: 25px;
    background-color: #0061FF;
    color: white;
    padding: 9px 15px;
    line-height: 16px;
}

header img {
    width: 127px;
    height: 25px;
    padding: 0px 18px;
    align-self: center;
}

/* MAIN */

/* SECTION 1 */

.container_large {
    width: 1100px;
    margin: 0 auto;
}

.background_azzurro {
    background-color: #B4D0E7;
}

main h1 {
    font-size: 55px;
    font-weight: 800;
    text-align: justify;
    padding-top: 70px;
}

.row_jumbo {
    padding-top: 45px;
    height: 365px;
    position: relative;
}

.descrizione_jumbo {
    justify-content: space-between;
    width: 35%;
}

.bottone_blu {
    background-color: #0061FF;
    color: white;
}

.arrow {
    margin-bottom: 30px;
    font-size: 35px;
}

.img_jumbo {
    width: 70%;
    position: absolute;
}

/* SECTION 2 */

.container_small {
    width: 900px;
    margin: 0 auto;
}

.section_2 {
    padding-top: 150px;
    margin-bottom: 150px;
}
    
.style_h2 {
    font-size: 35px;
    padding-bottom: 60px;
}

.circle {
    height: 20px;
    width: 20px;
    border: 1px solid grey;
    background-color: white;
    border-radius:20px;
}

.circle_checked {
    height: 11px;
    width: 11px;
    border: 6px solid #0061FF;
}

.checkbox {
    gap:10px;
}

.checkbox span {
    padding-right: 40px;
}

.container_card {
    padding-top: 60px;
    gap: 27px;
}

.card {
    border: 1px solid lightgrey;
    flex-basis: 0;
    flex-grow: 1;
}

.categoria {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

 .container_testo {
    padding: 35px 30px;
} 

.info_card p {
    display: flex;
    gap: 5px;
}

.info_card i {
    margin-top: 5px;
}

.card h3 {
    font-weight: bold;
    font-size: 23px;
}

.prezzo {
    display: inline-block;
    font-weight: 800;
    font-size: 12px;
    padding-top: 15px;
}

.mese {
    display: block;
    color: grey;
    font-size: 10px;
    padding-top: 5px;
}

.container_testo p {
    padding: 8px 0;
    font-size: 14px;
}

.info_card {
    padding: 35px 0;
}

.container_testo > p {
    margin-top: 30px;
}

.container_testo a {
    color: #0061FF;
    text-decoration: underline;
    cursor: pointer;
}

.container_testo hr {
    margin: 30px 0;
    width: 40px;
    color: lightgray;
}

.container_testo h4 {
    font-size: 14px;
    margin-bottom: 30px;
}

.container_testo li i {
    color: #0061FF;
}

.container_testo ul li {
    font-size: 14px;
    padding: 10px 0;
}

.card_orizzontale {
    width: 100%;
    margin-top: 40px;
    border: 1px solid lightgrey;
}

.container_testo div.flex {
    justify-content: space-between;
    align-items: center;
}

/* SECTION 3 */
.section_3 {
    margin-bottom: 90px;
}

.col-1-section-3 {
    width:60%;
}

.col-2-section-3 {
    width:40%;
}

.section_3 h3 {
    margin: 50px 0px 10px 35px;
}

.section_3 p {
    margin-left: 35px;
}

.bottone_section_3 {
    border: 1px solid black;
    width: 150px;
    height: 45px;
    margin-top: 30px;
    margin-left: 35px;
}

/* SECTION 4 */

.row_section_4 {
    gap: 50px;
    
}

.section_4 .col {
    width: calc(calc(100% - 100px) / 3);
    max-width: 250px;
}

.row_2_section_4 {
    padding-top: 45px;
}

.section_4 p {
    padding-top: 15px;
    padding-right: 35px;
}

.section_4 {
    margin-bottom: 160px;
}

/* SECTION 5 */

.section_5 a {
    margin-bottom: 140px;
    display: inline-block;
}

.col {
    width: calc(100% / 3);
    background-color: #F5F5F5;
}

.box_cliente {
    width: 50%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
}

.container_info {
    padding: 60px;
}

.container_info img {
    width: 290px;
}

.container_info hr {
    width: 100px;
    margin: 50px 0;
}

.container_info cite,p {
    font-size: 13px;
    font-style: normal; 
    padding-bottom: 50px;
    display: inline-block;
}

.logo_box {
    width: 50%;
}

.logo_box img {
    filter: invert(99%) sepia(0%) saturate(2645%) hue-rotate(244deg) brightness(115%) contrast(100%);
}

.cliente_verde {
    background-color: #A2D39B;
    box-shadow: inset 0px 0px 0px 15px #D1E9CD;
}

.cliente_bordo {
    background-color: #61082B;
}

.cliente_azzurro {
    background-color: #0093CE;
}

.cliente_rosso_chiaro {
    background-color: #FF1C1C;
}

.cliente_rosso_scuro {
    background-color: #D5001F;
}

.cliente_azzurro_chiaro {
    background-color: #B4D0E7;
}

.cliente_blu {
    background-color: #0D2481;
}

.cliente_giallo {
    background-color: #FFD830;
}


/* SECTION 6 */

.section_6 .col-1 {
    width: 60%;
}

.bottone_bianco {
    background-color: white;
}

.section_6 .row {
    justify-content: space-between;
    padding-top: 132px;
    padding-bottom: 60px;
}

.section_6 h2 {
    color: #61082B;
}

.section_6 {
    margin-bottom: 150px;
}

/* SECTION 7 */

.section_7 .row {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section_7 li {
    padding: 30px 0;
}

.section_7 h3 {
    padding-bottom: 15px;
}

.col-2 {
    justify-content: space-between;
    align-items: center;
}

.col-2 i {
    padding: 0 25px;
}

.col-2 li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

li.flex {
    justify-content: space-between;
}

.section_7 li:nth-child(even) {
    border: none;
}

.section_7 {
    margin-bottom: 150px;
}

/* FOOTER */
footer {
    background-color: black;
}

footer .row {
    justify-content: space-between;
}

footer .col {
    padding: 50px 0;
}

footer li {
    color: white;
    padding: 10px;
    font-size: 12px;
}

li:first-of-type {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

footer hr {
    width: 100px;
    color: white;
}

footer span {
    padding: 35px 0;
    color: gray;
    display: inline-block;

}